<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new Campground</a>
            </p>
        </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <img src="<%= campground.image %>" class="card-img-top" alt="">
                </div>
                <div class="card-title">
                        <%= campground.name %>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<% include partials/footer %>